<!-- <div *ngFor="let a of about?.results"> -->
  <!-- <div class="banner" [ngStyle]="{ 'background-image': 'url(http://localhost:8000/assets/img/content/' + a.banner_img + ')'}"> -->
  <div class="banner"
    [ngStyle]="{ 'background-image': 'url(http://localhost:8000/assets/img/content/aboutus-banner.jpg)'}">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          <!-- {{ a.banner_heading }} -->
          ABOUT US
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row area-1">
      <div class="col-sm-4">
        <!-- <p class="title">{{ a.area_1_title }}</p> -->
        <p class="title">WHO ARE WE</p>
      </div>
      <div class="col-sm-8">
        <!-- <p>{{ a.area_1 }}</p> -->
        <p>adalah perusahaan di bidang Informasi Teknologi. Berdiri sejak tahun 2006, kami resmi menjadi sebuah badan
          usaha pada tahun 20xx.
          Four Vision Media hanya berfokus pada solusi IT berupa jasa pembuatan website dan aplikasi berbasis website
          dengan mayoritas kliennya adalah korporat.
          Kami mencoba untuk terus berinovasi dalam hal teknologi, kualitas pekerjaan dan pelayanan purna jual, sehingga
          kami mampu bersaing dengan perusahaan teknologi lainnya. Banyak inovasi dari kami telah menghasilkan
          kepercayaan dari para klien.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row area-2">
      <div class="col-sm-8">
        <!-- <p>{{ a.area_2 }}</p> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
      <div class="col-sm-4">
        <!-- <p class="title">{{ a.area_2_title }}</p> -->
        <p class="title">SEJARAH</p>
      </div>
    </div>
    <div class="row area-3">
      <div class="col-sm-8">
        <!-- <p>{{ a.area_3}}</p> -->
        Visi kami adalah Menjadi Salah Satu Perusahaan IT dengan tingkat loyalitas pelanggan terbaik di Indonesia<br />
        Misi kami adalah:<br>
        <ul>
          <li>Menciptakan sistem pelayanan purna jual yang berorientasi pada standard</li>
          <li>Menciptakan budaya kerja yang berorientasi pada semangat berinovasi</li>
          <li>Memberikan edukasi teknologi kepada para klien kami</li>
      </ul>
      </div>
      <div class="col-sm-4">
        <!-- <p class="title">{{ a.area_3_title }}</p> -->
        <p class="title">VISI DAN MISI</p>
      </div>
    </div>
  </div>
<!-- </div> -->
