<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/login.css" rel="stylesheet" type="text/css"/>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h5 style="color:gray">Login</h5>
    </div>

    <!-- Login Form -->
    <form action="" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Type your username">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Type your password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
    </div>

  </div>
</div>
</body>
</html>

