<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Halaman Produk</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/angka.js"></script>
  <script src="/assets/js/angka.min.js"></script>
</head>
<style>
  .product_image{
    width: 60vh;
    height: auto;
  }
  .product_image img{
    width: 100%;
    object-fit: cover;
  }
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;Product List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Products<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/service">Services</a>
      </li>
    </ul>
  </div>
</nav>
<br>
  <div class="container">
		<button class="btn btn-success btn-block" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>No</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{inc @index }}</td>
          <td>{{ product_name }}</td>
          <td class="descField">{{ product_description }}</td>
          <td>Rp.{{formatNumber product_price}}</td>
          <td><a href="javascript:void(0);" class="image" data-image="{{ image }}">{{ image }}</a></td> 
          <td><a href="/admin/product/detail/{{ product_id }}">Detail</a></td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ product_id }}" data-product_name="{{ product_name }}" data-desc="{{ product_description }}" data-image="{{ image }}" data-product_price="{{ product_price }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ product_id }}" data-image="{{ image }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/admin/product/save" method="post" enctype="multipart/form-data" >
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="product_name" class="form-control" placeholder="Product Name" required>
               </div>

                <div class="form-group">
                    <textarea name="product_description" class="form-control" placeholder="Description" required></textarea>
                </div>

                <div class="form-group">
                    <input type="file" name="image" class="form-control" placeholder="Image" accept="image/x-png,image/gif,image/jpeg" multiple>
                </div>

               <div class="form-group">
                   <input type="text" name="product_price" class="form-control" placeholder="Price" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>
    {{!-- Gambar Produk Modal --}}
    <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="product_image"></div>
            <input type="hidden" name="product_id" class="form-control product_id2" required>
 	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
       </div>
	 <!-- Edit Product Modal-->
   <form action="/admin/product/update" ref='uploadForm' id='uploadForm' method="post" enctype="multipart/form-data">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="product_name" class="form-control product_name" placeholder="Product Name" required>
              </div>

              <div class="form-group">
                  <textarea name="product_description" class="form-control desc" placeholder="Description" required></textarea>
              </div>

              <div class="form-group">
                  <input type="file" name="image" class="form-control image" placeholder="Image" accept="image/x-png,image/gif,image/jpeg" required>
              </div>

              <div class="form-group">
                  <input type="number" name="product_price" class="form-control price" placeholder="Price" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="text" name="id" class="product_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/admin/product/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Product</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="product_id" class="form-control product_id2" required>
                       <input type="hidden" name="image" class="form-control image" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>
<script>
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var product_id = $(this).data('id');
        var product_name = $(this).data('product_name');
        var desc = $(this).data('desc');
        var image = $(this).data('image');
        var product_price = $(this).data('product_price');
        $('#EditModal').modal('show');
        $('.product_id').val(product_id);
        $('.product_name').val(product_name);
        $('.price').val(product_price);
        $('.desc').html(desc);
        $('.image').val(image);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var product_id = $(this).data('id');
        var image = $(this).data('image');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(product_id);
        $('.image').val(image);
      });
      //image modal
			$('#mytable').on('click','.image',function(){
        var image = $(this).data('image')
        $('#ImageModal').modal('show');
        $('.product_image').html("<img src='/assets/img/product/" + image +"'></img>");
      });
    });
    
</script>
</body>
</html>