<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Image</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">&nbsp;&nbsp;Detail Produk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Products<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/service">Services</a>
      </li>
    </ul> --}}
        </div>
    </nav>
    <br>
    {{#each product}}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 product-image">
                <img src="http://localhost:8000/assets/img/product/{{ image }}" alt="">
            </div>
            <div class="col-sm-8">
                <ul>
                    <li>Nama Produk : {{ product_name }}</li>
                    <li>Deskripsi : {{ product_description }}</li>
                    <li>Harga : {{formatNumber product_price }}</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="jumbotron">
        <h1 align="center">Gambar Produk</h1>
    </div>
    <div class="container">
        <div class="row">
            {{#each image}}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://localhost:8000/assets/img/product/{{img}}" target="_blank">
                        <img src="http://localhost:8000/assets/img/product/{{img}}" alt="Lights" style="width:100%">
                        <div class="middle" id="option">
                            <form action="/admin/product/delete_img" method="post">
                                <input type="hidden" name="p_id" value="{{product_id}}">
                                <input type="hidden" name="id" value="{{img_id}}">
                                <input type="submit" value="delete" class="btn btn-danger"
                                    onclick="return confirm('Are You Sure Want To Delete This Image ?')">
                            </form>
                        </div>
                    </a>
                    <div class="caption">
                        <p>{{note}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{#each product}}
            <div class="col-md-4">
                <div class="thumbnail" id="myimage">
                    <a href="javascript:void(0);" class="btn btn-info center tambah" data-id="{{ product_id }}">
                        Tambah Gambar
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- modal tambah gambar --}}
        <form action="/admin/product/tambah_gambar" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tambah gambar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg">
                                </div>
                                <div class="form-group">
                                    <label for="desc">Deskripsi:</label>
                                    <textarea id="desc" name="note" class="form-control" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="id" class="product_id">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <!-- Delete Product Modal-->
        <form id="add-row-form" action="/admin/product/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Are You Sure To Delete This Data?</strong>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="product_id" class="form-control product_id2" required>
                            <input type="hidden" name="image" class="form-control image" required>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            //showing data to modal for add record
            $('#myimage').on('click', '.tambah', function () {
                var product_id = $(this).data('id');
                $('#myModalAdd').modal('show');
                $('.product_id').val(product_id);
            });
            //showing modal for delete record
            $('#option').on('click', '.delete', function () {
                var img_id = $(this).data('id');
                var image = $(this).data('img');
                $('#DeleteModal').modal('show');
                $('.img_id2').val(img_id);
                $('.image').val(image);
            });
        });
    </script>
</body>

</html>