<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Halaman Service</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/angka.js"></script>
<script src="/assets/js/angka.min.js"></script>
</head>
<style>
  .svc_image{
    width: 60vh;
    height: auto;
  }
  .svc_image img{
    width: 100%;
    object-fit: cover;
  }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;Service List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
  <div class="container">
		<button class="btn btn-success btn-block" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>No</th>
          <th>Service Name</th>
          <th>Description</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{inc @index }}</td>
          <td>{{ svc_name }}</td>
          <td class="descField">{{ svc_desc }}</td>
          <td><a href="javascript:void(0);" class="image" data-image="{{ image }}">{{ image }}</a></td> 
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id_service }}" data-svc_name="{{ svc_name }}" data-svc_desc="{{ svc_desc }}" data-image="{{ image }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id_service }}" data-image="{{ image }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	<!-- Add New Service Modal-->
	  <form action="/admin/service/save" method="post" enctype="multipart/form-data" >
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Service</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="svc_name" class="form-control" placeholder="Service Name" required>
               </div>

                <div class="form-group">
                    <textarea name="svc_desc" class="form-control" placeholder="Description" required></textarea>
                </div>

                <div class="form-group">
                    <input type="file" name="image" class="form-control" placeholder="Image" accept="image/x-png,image/gif,image/jpeg" multiple>
                </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>
    {{!-- Gambar Produk Modal --}}
    <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="svc_image"></div>
            <input type="hidden" name="id_service" class="form-control id_service2" required>
 	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
       </div>
	 <!-- Edit Service Modal-->
   <form action="/admin/service/update" ref='uploadForm' id='uploadForm' method="post" enctype="multipart/form-data">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="svc_name" class="form-control svc_name" placeholder="Service Name" required>
              </div>

              <div class="form-group">
                  <textarea name="svc_desc" class="form-control svc_desc" placeholder="Description" required></textarea>
              </div>

              <div class="form-group">
                  <input type="file" name="image" class="form-control image" placeholder="Image" accept="image/x-png,image/gif,image/jpeg" required>
              </div>

            </div>
            <div class="modal-footer">
              <input type="text" name="id" class="id_service">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Service Modal-->
 	  <form id="add-row-form" action="/admin/service/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Service</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id_service" class="form-control id_service2" required>
                       <input type="hidden" name="image" class="form-control image" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script>
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var id_service = $(this).data('id');
        var svc_name = $(this).data('svc_name');
        var svc_desc = $(this).data('svc_desc');
        var image = $(this).data('image');
        $('#EditModal').modal('show');
        $('.id_service').val(id_service);
        $('.svc_name').val(svc_name);
        $('.svc_desc').html(svc_desc);
        $('.image').val(image);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var id_service = $(this).data('id');
        var image = $(this).data('image');
        $('#DeleteModal').modal('show');
        $('.id_service2').val(id_service);
        $('.image').val(image);
      });
      //image modal
			$('#mytable').on('click','.image',function(){
        var image = $(this).data('image')
        $('#ImageModal').modal('show');
        $('.svc_image').html("<img src='/assets/img/service/" + image +"'></img>");
      });
    });
    
</script>
</body>
</html>