<!-- <div *ngFor="let i of servicePage?.results"> -->
<!-- <div class="banner" [ngStyle]="{ 'background-image': 'url(http://localhost:8000/assets/img/content/' + i.banner_img + ')'}"> -->
  <div class="banner" [ngStyle]="{ 'background-image': 'url(http://localhost:8000/assets/img/content/service-banner.jpg)'}">
  <div class="container">
    <div class="banner-text">
      <div class="banner-heading">
        <!-- {{ i.banner_heading }} -->
        Layanan Kami
      </div>
    </div>
  </div>
</div>
<section class="services-area pt-100 pb-70" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title">
          <!-- <p>{{ i.page_subtitle }}</p> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 svc" *ngFor="let a of service?.results">
        <div class="single-service">
          <!-- <i class="fa fa-dribbble"></i> -->
          <div class="image" [ngStyle]="{ 'background-image': 'url(http://localhost:8000/assets/img/service/' + a.image + ')'}">
            <!-- <img src="http://localhost:8000/assets/img/service/{{ a.image }}" alt=""> -->
          </div>
          <h4 class="name">{{ a.svc_name }}</h4>
          <p class="desc">{{ a.svc_desc }} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- </div> -->
